* {
    box-sizing: border-box;
    font-weight: 600;
}

.main-div {
    padding: 2rem;
}

body {
    margin: 0;
}

.return-listings {
    padding: 1rem 0rem;
}

.main-content {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}