* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}

.main-div {
    padding: 2rem;
}

body {
    margin: 0;
}

.return-listings {
    padding: 1rem 0rem;
}

.main-content {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

.user-cards {
    display: grid;
    
}

.entry-header {
    display: flex;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    grid-gap: 20px;
    padding: 20px;
    background-color: #F0D2FF;

    margin-bottom: 1rem;
}

.card {
    display: flex;
    text-align: center;
    margin-top: 10px;

    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

    grid-gap: 20px;
    padding: 5px;
    background-color: #F8EBFF;
}