* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}

.main-div {
    padding: 2rem;
}

body {
    margin: 0;
}

.return-listings {
    padding: 1rem 0rem;
}

.main-content {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

/* Search Bar */

.search {
    display: flex;
}

.search-text {
    flex: 2;
    margin-right: 15px;
}

.search-bar {
    flex: 8;
    margin-right: 15px;
}

.search-button {
    flex: 1;
}


input {
    border: 1px solid #68228C;
    border-radius: 6px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
    height: 6vh;
    
}

button {
    border: 1px solid #68228C;
    color: black;
    border-radius: 6px;
    font-size: 16px;
    padding: 6px;
    width: 100%;
    height: 6vh;

}

.search {
    display: flex;
    justify-content: space-between;
}

.search-results {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
}

.search-criteria-switch {
    margin-top: 10px;
}

.user-cards {
    display: grid;
    
}

.entry-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    grid-gap: 20px;
    padding: 20px;
    background-color: #F0D2FF;

    margin-bottom: 1rem;
}



.entry-header1 {
    flex: 5;
}

.entry-header2 {
    flex: 3;
}

.entry-header3 {
    flex: 3;
}

.entry-header4 {
    flex: 3;
}


.card {
    display: flex;
    text-align: center;
    margin-top: 10px;

    border-style: solid;
    border-width: 1px;
    border-radius: 8px;

    grid-gap: 20px;
    padding: 7px;
    background-color: #F8EBFF;
}

/* .divider {
    border: #68228C;
    border-style: solid;
    border-width: 1px;
    height: 100%;
} */

.name {
    flex: 5;
}

.ticket-type {
    flex: 3;
}

.payment-status {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat-number {
    flex: 3;
}


