/* loginpage.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e1c4ff; /* Background color */
}

.purple-rectangle {
  background-color: #703E8A; /* Purple rectangle color */
  padding: 1.5rem;
  flex-direction: row; /* Aligns children (image and login) in a row */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between; /* Adjust content spacing */
  align-items: center;
  max-width: 70%; 
  align-items: center;

}

.image-container {
  width: 50%; /* Adjust width to your preference */
}

.image {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px; /* Adjust the value to change the roundness of the corners */
  border: 2px solid #000; /* Optional: You can also specify the border width and color */
  object-fit: contain; /* Keep aspect ratio */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the children horizontally */
  width: 50%; /* Adjust width to your preference */
}

.title {
  color: white;
  text-align: center; /* This will center-align the text of the title */
  margin-bottom: 1rem; /* Space between title and Google sign-in */
}

.google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 22px; /* Rounded corners */
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer; /* Hand cursor on hover */
  border: none; /* Remove border */
  outline: none; /* Remove focus outline */
}

.google-icon {
  margin-right: 10px; /* Space between icon and text */
  width: 30px; /* Decrease the width to shrink the icon */
  height: 30px; /* Decrease the height to shrink the icon */
  margin-right: 10px; /* Keep some space between the icon and the text */
  
}


