/* .filter-rectangle {
    background-color: #F3E4FB;
    position: fixed;
    top: 100;           
    left: 0;          
    height: 100%;    
    width: 300px; 
} */


.no-results{
    padding:20px;
    color: red;
}